*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tituloitec{
    margin: auto;
    color: #FFFFFF
}

.navegacion {
    width: 1400px;
    margin: 20px auto;
    background: teal;
}

.navegacion ul{
    margin-top: -30px;
    list-style: none;
    
}

.menu >li {
    position: relative;
    display: inline-block;
}

.menu >li > a{
        display: inline-block;   
        padding: 10px 15px;
        color: skyblue;
        font-family: sans-serif ;
        text-decoration:none;
        
}
.menu li:hover{
    color: aliceblue;
    transition: all.3s;
}

.submenu{
    position: absolute;
    background: teal;
    width: 200%;
    display: none;
}
